In [1]:
import pandas as pd

In [2]:
file_path = '../datasets/dynamodb_20180823.json'

In [3]:
df = pd.read_json(file_path)

In [4]:
df.head()

,data,inquired,log,number,status
0,{'summary': {'date_balance': '17-07-2018 09:14...,1533957279,"{'active_contract': True, 'rut_required': False}",23569556,OK
1,{'summary': {'date_balance': '30-07-2018 09:10...,1533266814,"{'active_contract': True, 'rut_required': False}",22024384,OK
2,{'summary': {'date_balance': '01-08-2018 18:10...,1534199113,"{'active_contract': True, 'rut_required': False}",22559391,OK
3,{'summary': {'date_balance': '08-11-2016 14:49...,1533932867,"{'active_contract': True, 'rut_required': False}",20271880,without_trips
4,{'summary': {'date_balance': '26-07-2018 17:47...,1532783871,"{'active_contract': True, 'rut_required': False}",23899110,OK

In [16]:
rate_ok = len(df[df['status'] == 'OK']) / len(df)
print("rate OK = %.2f" % rate_ok)

rate OK = 0.46

In [17]:
rate_without_trips = len(df[df['status'] == 'without_trips']) / len(df)
print("rate without_trips = %.2f" % rate_without_trips)

rate without_trips = 0.52

In [19]:
rate_others = 1 - (rate_ok + rate_without_trips) 
print("rate others = %.5f" % rate_others)

rate others = 0.01203